.form {
  width: 282px;
  height: 322px;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 984px) {
  .form {
    width: 430px;
    height: 330px;
    padding-left: 36px;
  }
}
