.edit-button {
  border: 1px solid #FFFFFF;
  padding: 5.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  position: absolute;
  right: 19px;
  top: 8px;
}

.edit-button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 984px) {
  .edit-button {
    right: 0;
    top: 15px;
    width: 10px;
    height: 10px;
    padding: 7px;
  }
}
