.edit-button {
  border: 1px solid #FFFFFF;
  padding: 5.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: edit;
  margin-top: 8px;
}

.edit-button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 984px) {
  .edit-button {
    margin-top: 15px;
    width: 10px;
    height: 10px;
    padding: 7px;
  }
}
