.form__item {
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #bcbcc4;
  padding: 0;
  width: 238px;
  outline: none;
  padding-bottom: 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (min-width: 984px) {
  .form__item {
    width: 358px;
  }
}
