.add-button {
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 17px 0 17px 0;
  height: 50px;
  background-color: black;
  margin-top: 36px;
}

@media screen and (min-width: 984px) {
  .add-button {
    width: 150px;
    max-height: 50px;
    padding: 14px 0;
    margin: 0 0 35px auto;
    align-self: flex-end;
    justify-self: flex-end;
  }
}

.add-button:hover {
  opacity: 0.6;
}
